@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --primary-blue: #0f172a;
    --light-blue: #33eaff;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--primary-blue);
}

/* GENERAL STYLES start */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex-center flex-row relative py-2 px-3 outline-none;
}

.modal__open {
  @apply opacity-100 visible;
}

.modal__close {
  @apply opacity-0 hidden;
}

.modal__wrapper {
  @apply w-[600px] min-h-[200px] h-auto flex-wrap justify-center m-auto bg-white relative text-black rounded-lg overflow-y-auto overflow-x-hidden;
}

.btn__default {
  @apply w-full bg-light-blue rounded-3xl text-primary-blue font-semibold text-lg transition ease-in-out duration-300 hover:text-light-blue hover:bg-secondary-blue;
}

.btn__secondary {
  @apply bg-white w-full rounded-lg text-primary-blue font-semibold text-base transition ease-in-out duration-300 hover:bg-slate-400;
}

.spinner {
  @apply inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white;
}

/* GENERAL STYLES end */

/* HEADER STYLES start */
.avatar__container {
  @apply h-auto w-auto rounded-full overflow-hidden border-2 border-light-blue cursor-pointer;
}
/* HEADER STYLES end */

/* NAVBAR STYLES start */
.navbar__container {
  @apply flex-center bg-black w-full py-8 gap-6 md:gap-0 md:flex-col md:justify-between md:w-[90px] md:py-6;
}

.navbar__item {
  @apply h-max transition duration-300 md:flex md:h-[40px] md:mb-2 hover:border-gray hover:border-b-[1px];
}
/* NAVBAR STYLES end */

/* APARTMENT DETAIL VIEW start */
.apartmentView__container {
  @apply max-w-[1440px] mx-auto;
}

.apartmentView__headerSection {
  @apply flex-between mx-6 h-[60px] lg:mx-3;
}

.apartmentView__imagesSection {
  @apply flex w-[100%] h-56 sm:h-auto md:h-[422px];
}

.apartmentView__detailsSection {
  @apply flex flex-col items-center mx-6 my-6 md:flex-row-reverse md:items-baseline md:mx-0 md:gap-12;
}

.apartmentView__reservation-wrapper {
  @apply flex flex-col w-full max-w-[340px] min-w-[320px] gap-6 lg:w-[26%];
}

.topIcons__container {
  @apply flex-center rounded-full overflow-hidden h-[30px] w-[30px] cursor-pointer;
}
/* APARTMENT DETAIL VIEW end */

/* RESERVATION CARD start */
.reservationCard__container {
  @apply border-2 border-gray rounded-[10px];
}

.reservationCard__row {
  @apply flex border-b-2 border-gray px-6 relative last:border-b-0;
}
/* RESERVATION CARD end */

/* APARTMENT DETAIL start */
.apartmentDetails__container {
  @apply flex-1 pt-8 pb-0;
}
/* APARTMENT DETAIL end */

/* DATE RANGE PICKER start */
.rdrDateRangePickerWrapper {
  @apply absolute top-[100px] left-0 z-50 md:left-[-318px];
}

.rdrDefinedRangesWrapper,
.rdrDateDisplayWrapper {
  @apply hidden;
}

.rdrCalendarWrapper.rdrDateRangeWrapper {
  @apply p-0;
}
/* DATE RANGE PICKER end */

/* GALLERY start */
.viewRoomsDetail__container {
  @apply flex-center col-span-1 col-start-4 row-span-1 bg-primary-blue-100 cursor-pointer transition ease-in-out duration-300 hover:bg-secondary-blue;
}

.viewRoomsDetail__container p {
  @apply text-white text-center px-4 md:text-sm lg:text-base xl:px-12;
}

.showAllPhotos__container {
  @apply absolute bottom-0 right-0 md:max-w-[135px] md:text-xs md:mr-2 md:mb-2 lg:max-w-full lg:mr-3 lg:mb-3 xl:text-base xl:mr-4 xl:mb-4;
}
/* GALLERY end */
